**Import modules**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Import data**

In [2]:
df = pd.read_csv("PakWheelsDataSet.csv")
df

,Make,Name,Transmission,Engine Type,Engine Capacity(CC),Mileage(kms),City,Year,Price
0,Honda,BR-V i-VTEC S,Automatic,Petrol,1500.0,41371,Karachi,2017,3150000
1,Toyota,Corolla Altis Automatic 1.6,Automatic,Petrol,1600.0,2460,Karachi,2021,3575000
2,Toyota,Vitz F Limited II 1.0,Automatic,Petrol,1000.0,67000,Karachi,2014,1955000
3,Daihatsu,Move Custom X Limited,Automatic,Petrol,660.0,64000,Lahore,2013,1450000
4,Toyota,Prado TX L Package 2.7,Automatic,Petrol,2700.0,64000,Lahore,2016,19000000
...,...,...,...,...,...,...,...,...,...
76685,Suzuki,Bolan VX Euro II,Manual,Petrol,800.0,59500,Lahore,2016,890000
76686,Toyota,Prius G LED Edition 1.8,Automatic,Petrol,1800.0,199000,Rawalpindi,2010,2700000
76687,KIA,Sportage AWD,Automatic,Petrol,2000.0,180,Lahore,2020,5900000
76688,Suzuki,Bolan,Manual,Petrol,800.0,16300,Rawalpindi,2019,1170000
76689,Suzuki,Mehran VX Euro II,Manual,Petrol,800.0,69000,Bahawalpur,2014,690000

**Data overview**

In [ ]:
df.info()

In [ ]:
groupByYear = df.groupby(['Year'])['Year'].count()
groupByYear = groupByYear.to_frame()
groupByYear.columns = ['Count']
groupByYear = groupByYear.reset_index()
groupByYear

sns.set()
g = sns.barplot(x = 'Year', y = 'Count', data = groupByYear, color='darkblue')
for index, label in enumerate(g.get_xticklabels()):
    year = int(label.get_text())
    if year % 20 == 0:
        label.set_visible(True)
    else:
        label.set_visible(False)
plt.show()

**Engine Capacity(CC)**

In [ ]:
sns.set()
g = sns.histplot(x = 'Engine Capacity(CC)', data = df, bins = 25)
g.ticklabel_format(style='plain')
plt.show()

**Mileage(kms)**

In [ ]:
mask = df['Mileage(kms)'] <= 200000
lowKms = df[mask]
lowKms

sns.set()
g = sns.histplot(x = 'Mileage(kms)', data = lowKms, bins = 200)
g.ticklabel_format(style='plain')
plt.show()

**Year**

In [ ]:
groupByYear = df.groupby(['Year'])['Year'].count()
groupByYear = groupByYear.to_frame()
groupByYear.columns = ['Count']
groupByYear = groupByYear.reset_index()
groupByYear.sort_values("Count", ascending = False, inplace=True)
groupByYear

In [ ]:
sns.set()
g = sns.histplot(x = 'Year', data = df, bins = 68)
g.ticklabel_format(style='plain')
plt.show()

**City**

In [ ]:
groupByCity = df.groupby(['City'])['City'].count()
groupByCity = groupByCity.to_frame()
groupByCity.columns = ['Count']
groupByCity = groupByCity.reset_index()
groupByCity.sort_values("Count", ascending = False, inplace=True)
groupByCity

**Make**

In [ ]:
groupByMake = df.groupby(['Make'])['Make'].count()
groupByMake = groupByMake.to_frame()
groupByMake.columns = ['Count']
groupByMake = groupByMake.reset_index()
groupByMake.sort_values("Count", ascending = False, inplace=True)
groupByMake

**Price**

In [ ]:
df.sort_values('Price')

sns.set()
g = sns.histplot(x = 'Price', data = df, bins = 1000)
g.ticklabel_format(style='plain')
plt.show()

In [ ]:
mask = df['Price'] <= 10000000
lowPrice = df[mask]
lowPrice

sns.set()
g = sns.histplot(x = 'Price', data = lowPrice, bins = 200)
g.ticklabel_format(style='plain')
plt.show()

**Price&Make**

In [ ]:
pAndM = df.loc[:,['Price', 'Make']]
pAndM['Count'] = [1]*len(pAndM['Price'])
pAndM

sns.set()
plt.figure(figsize=(10, 30))
g = sns.scatterplot(x = 'Price', y = 'Make', data = pAndM,sizes = (15, 200))
# g.ticklabel_format(style='plain')
plt.show()